<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.firstproject.category.CategoryMapper">
    <insert id="insCategory">
        INSERT INTO category
        SET title = #{title}
    </insert>

    <select id="selCategory">
        SELECT title
        FROM category
    </select>

    <select id="selCategoryById">
        SELECT *
        from category
        where icategory = #{icategory}
    </select>
</mapper>