<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.firstproject.timer.TimerMapper">
    <insert id="insTimer">
        INSERT INTO timer
        (dead_line, study_line, iuser)
        VALUES
        (#{deadLine}, #{studyLine}, #{iuser})
    </insert>
</mapper>