<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.firstproject.timer.TimerMapper">
    <insert id="insTimer">
        INSERT INTO timer
        (study_line, iuser)
        VALUES
        (#{studyLine}, #{iuser})
    </insert>

    <update id="updTimer">
        <![CDATA[
            UPDATE timer
            SET study_line = #{studyLine}
            , isticker = CASE WHEN #{studyLine} <= 24 THEN 2
            WHEN #{studyLine} <= 48 THEN 3
            WHEN #{studyLine} <= 72 THEN 4
            WHEN #{studyLine} <= 96 THEN 5
            ELSE 6 END
            WHERE iuser = #{iuser}
            AND itimer = #{itimer}
        ]]>
    </update>
    <select id="selTimerByDate2">
        SELECT *
        from timer
        WHERE iuser = #{iuser}
    </select>

    <select id="selTimerByDate">
        SELECT * FROM timer
        WHERE DAY(dead_line) = #{day}
        AND MONTH(dead_line) = #{month};
    </select>
</mapper>