<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.firstproject.timer.TimerMapper">
    <insert id="insTimer">
        <![CDATA[
        INSERT INTO timer
        SET study_line = #{studyLine}
        , iuser = #{iuser}
        , isticker = CASE WHEN #{studyLine} <= 24 THEN 2
        WHEN #{studyLine} <= 48 THEN 3
        WHEN #{studyLine} <= 72 THEN 4
        WHEN #{studyLine} <= 96 THEN 5
        ELSE 6 END
        ]]>
    </insert>

    <update id="updTimer2">
        <![CDATA[
            UPDATE timer
            SET study_line = #{studyLine}
            , isticker = CASE WHEN #{studyLine} <= 24 THEN 2
            WHEN #{studyLine} <= 48 THEN 3
            WHEN #{studyLine} <= 72 THEN 4
            WHEN #{studyLine} <= 96 THEN 5
            ELSE 6 END
            WHERE iuser = #{iuser}
            AND itimer = #{itimer}
        ]]>
    </update>
    <update id="updTimer">
        <![CDATA[
            UPDATE timer
            SET study_line = #{studyLine}
            , isticker = CASE WHEN #{studyLine} <= 24 THEN 2
            WHEN #{studyLine} <= 48 THEN 3
            WHEN #{studyLine} <= 72 THEN 4
            WHEN #{studyLine} <= 96 THEN 5
            ELSE 6 END
            WHERE (iuser, itimer)
        IN (SELECT iuser, itimer
        FROM timer
        WHERE iuser = #{iuser}
        AND itimer = #{itimer}
        GROUP BY iuser, dead_line)
        ]]>

    </update>
    <select id="selTimerByDate2">
        SELECT *
        from timer
        WHERE iuser = #{iuser}
    </select>

    <select id="selTimerByDate">
        <![CDATA[
        SELECT itimer ,SUM(A.study_line) sum_study_line
        , dead_line, iuser , (CASE WHEN SUM(A.study_line) <= 24 THEN 1
        WHEN SUM(A.study_line) <= 48 THEN 2
        WHEN SUM(A.study_line) <= 72 THEN 3
        WHEN SUM(A.study_line) <= 96 THEN 4
        ELSE 5 END) level
        FROM timer A
        WHERE iuser = #{iuser}
        AND month(dead_line) = #{month}
        GROUP BY iuser , dead_line;
        ]]>
    </select>
</mapper>