<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.firstproject.todo.TodoMapper">
    <insert id="insTodo">
        Insert into todo
        (title,ctnt,isticker,icategory,iuser)
        values
        (#{title},#{ctnt},#{isticker},#{icategory},#{iuser})

    </insert>

    <update id="patchSticker">
        update todo
        set
        isticker = #{isticker}
        ,updated_at = current_timestamp
        where itodo =#{itodo}
    </update>
    <update id="delTodo">
        update todo
        set del_yn = case
        when del_yn = 0 then 1
        when del_yn = 1 then 0
        end
        where itodo = #{itodo}
    </update>
    <update id = "updTodo">
        update todo
        set
        title = #{title},
        ctnt = #{ctnt},
        icategory = #{icategory}
        where itodo = #{itodo}
    </update>

    <select id="selUserTodo">
        SELECT * FROM
        todo A
        INNER JOIN user B
        ON A.iuser = B.iuser
        WHERE A.iuser = #{iuser};

    </select>

    <select id="selTodo" resultType="SelVo">
        SELECT *FROM todo
        WHERE itodo = #{itodo};
    </select>

    <select id="selAllTodo" resultType="SelAllVo">
        Select *from todo
        where del_yn = 0
    </select>

    <select id="UserCategorySel">
        SELECT *FROM todo
        WHERE icategory =#{icategory} and iuser = #{iuser};
    </select>

    <select id="Selbyday">
        SELECT * FROM TODO
        WHERE created_at BETWEEN DATE_ADD(NOW(), INTERVAL -1 MONTH )
        AND NOW() AND iuser =#{iuser}
        AND DAY(created_at) = #{day};
    </select>

    <select id="Selbymonth">
    Select *from todo
    where iuser =#{iuser}
    and month(created_at) =#{month}
        and year(created_at) = #{year}
        and day(created_at) = #{day}
        and del_yn = 0;

</select>

</mapper>