<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.firstproject.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
        insert into user
        (name,email)
        values
        (#{name},#{email})
    </insert>


    <update id="upUserPic">
        update user
        set main_pic = #{mainPic}
        where iuser = #{iuser}
    </update>

    <update id="upAllUser">
        update user
        set name = #{name}
        , objective = #{objective}

        where iuser = #{iuser}
    </update>
    <select id="selUser" resultType="UserListVo">
        select name,main_pic mainPic , objective
        from user
        where iuser = #{iuser}
    </select>

    <select id="selAllUser">
        select iuser,name, main_pic mainPic, objective
        from user
    </select>

    <select id="selEmail2">
        SELECT A.email, B.itodo
        FROM user A
        INNER JOIN todo B
        ON A.iuser = B.iuser
        WHERE B.created_at = CURDATE()
    </select>
    <select id="selEmail">
        SELECT email
        from user
    </select>

</mapper>